<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    <title>Arrow</title>
</head>
<body>
<div class="tableContainer m-4" style="font-size: 15px">
    <div class="pageName">
        <h4>Обновление данных измерительного инструмента</h4>
    </div>
    <form th:action="@{/general/m_instrument/m_instrumentUpdate}" th:method="post" th:object="${measInstrument}"
          id="form1">
        <div>
            <style>
                .table {
                    width: 100%;
                }

                .head, .body {
                    display: table;
                    width: 100%;
                }

                .body {
                    display: block;
                    width: 100%;
                    height: 650px;
                    overflow: auto;
                }
            </style>
            <table class="table table-hover table-sm" style="width: 700px">
                <thead class="head">
                <tr>
                    <th style="width: 50px; text-align: left;" scope="col">#</th>
                    <th style="width: 250px; text-align: left;" scope="col">Атрибут</th>
                    <th style="width: 400px; text-align: left;" scope="col">Параметр</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr>
                    <th style="text-align: left" scope="row"></th>
                    <th style="text-align: left"><label>Техн. состояние:</label></th>
                    <td style="text-align: left; width: 400px">
                        <select class="form-select form-select-sm" name="technicalConditionENUM"
                                id="status" onchange="i()">
                            <option th:each="condTechn:${conditionForTechn}"
                                    th:field="*{technicalConditionENUM}"
                                    th:value="${condTechn}"
                                    th:text="${condTechn.getTitle()}">
                            </option>
                        </select>
                        <br>
                        <div style="display: none; text-align: right" id="brokenDate">
                            <p style=" text-align: right">
                                Дата выявления неисправности: <input type="date" th:field="${measInstrument.brokenDate}"
                                                                     id="date2"><br>
                                Комментарий: <textarea rows="1" cols="40" type="text"
                                                       th:field="${measInstrument.brokenAnnotation}"></textarea></p>
                            <p if="${#fields.hasErrors('brokenDate')}" th:errors="${measInstrument.brokenDate}"
                               style="font-size: 13px; color: brown"></p>
                            <script th:inline="javascript">
                                const inputDate2 = String([[${measInstrument.brokenDate}]]);
                                document.getElementById("date2").valueAsDate = new Date(inputDate2);
                            </script>
                        </div>
                        <div style="display: none; text-align: right" id="repairDates">
                            <p style=" text-align: right">
                                Дата сдачи в ремонт: <input type="date" th:field="${measInstrument.startRepairDate}"
                                                            id="date3"><br>
                                Дата план. получения из ремонта: <input type="date"
                                                                        th:field="${measInstrument.endRepairDate}"
                                                                        id="date4"><br>
                                Комментарий: <textarea rows="1" cols="40" type="text"
                                                       th:field="${measInstrument.repairAnnotation}"></textarea></p>
                            <p if="${#fields.hasErrors('startRepairDate')}"
                               th:errors="${measInstrument.startRepairDate}" style="font-size: 13px; color: brown"></p>
                            <p if="${#fields.hasErrors('endRepairDate')}"
                               th:errors="${measInstrument.endRepairDate}" style="font-size: 13px; color: brown"></p>
                            <script th:inline="javascript">
                                const inputDate3 = String([[${measInstrument.startRepairDate}]]);
                                document.getElementById("date3").valueAsDate = new Date(inputDate3);
                            </script>
                            <script th:inline="javascript">
                                const inputDate4 = String([[${measInstrument.endRepairDate}]]);
                                document.getElementById("date4").valueAsDate = new Date(inputDate4);
                            </script>
                        </div>
                        <div style="display: none; text-align: right" id="closeDate">
                            <p style="text-align: right">
                                Дата списания: <input type="date" th:field="${measInstrument.closeDate}" id="date1"><br>
                                Акт списания: <textarea rows="1" cols="40" type="text"
                                                        th:field="${measInstrument.deleteAct}"></textarea></p>
                            <p if="${#fields.hasErrors('closeDate')}" th:errors="${measInstrument.closeDate}"
                               style="font-size: 13px; color: brown"></p>
                            <script th:inline="javascript">
                                const inputDate1 = String([[${measInstrument.closeDate}]]);
                                document.getElementById("date1").valueAsDate = new Date(inputDate1);
                            </script>
                        </div>
                    <td>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row"></th>
                    <th style="text-align: left"><label>Статус:</label></th>
                    <td style="text-align: left">
                        <div id="issuePanel">
                            <select class="form-select form-select-sm" name="workConditionENUM"
                                    id="statusIssue" onchange="j()">
                                <option th:each="condWork:${conditionForWork}"
                                        th:field="*{workConditionENUM}"
                                        th:value="${condWork}"
                                        th:text="${condWork.getTitle()}">
                                </option>
                            </select>
                            <p style="font-size: 13px; color: #112970">** при пустом списке 'Действующих' работников или
                                'Действующих' объектов строительства инструмент выдать нельзя</p>
                            <div id="issuePanelObj">
                                <hr>
                                <select class="livesearch" style="width:400px;" name="workObject">
                                    <option th:each="wObj:${workObjectList}"
                                            th:field="*{workObject}"
                                            th:value="${wObj.workObjectId}"
                                            th:text="${wObj}">
                                    </option>
                                </select>
                                <script>
                                    $(".livesearch").chosen();
                                </script>
                            </div>
                            <div id="issuePanelEmp">
                                <hr>
                                <select class="livesearch" style="width:400px;" name="employee">
                                    <option th:each="emp:${employeeList}"
                                            th:field="*{employee}"
                                            th:value="${emp.empId}"
                                            th:text="${emp} +
                                    ((${emp.profession} == null)? '' : ${', ' + emp.profession.professionName})">
                                    </option>
                                </select>
                                <script>
                                    $(".livesearch").chosen();
                                </script>
                            </div>
                            <div style="display: none; text-align: right" id="issueDate">
                                <hr>
                                <p style="text-align: right">
                                    Дата выдачи: <input type="date" th:field="${measInstrument.issueDate}" id="date5">
                                </p>
                                <p if="${#fields.hasErrors('issueDate')}" th:errors="${measInstrument.issueDate}"
                                   style="font-size: 13px; color: brown"></p>
                                <p><span th:text="${errorStatus}" style="font-size: 13px; color: brown"></span></p>
                                <script th:inline="javascript">
                                    const inputDate5 = String([[${measInstrument.issueDate}]]);
                                    document.getElementById("date5").valueAsDate = new Date(inputDate5);
                                </script>
                            </div>
                        </div>
                    <td>
                </tr>
                <script>
                    function i() {
                        let status = document.getElementById("status");
                        let selectStatus = status.options[status.selectedIndex].textContent;

                        let isBroken = selectStatus === "Не исправен (на складе, не в ремонте)"
                        let brokenDate = document.getElementById("brokenDate");
                        if (isBroken) {
                            brokenDate.style.display = 'block';
                            document.getElementById('date2').setAttribute('required', 'true');
                            document.getElementById('date2').removeAttribute('disabled');
                            document.getElementById('date5').removeAttribute('required');
                        } else {
                            brokenDate.style.display = 'none';
                            document.getElementById('date2').removeAttribute('required');
                            document.getElementById('date2').setAttribute('disabled', 'true');
                        }

                        let inRepair = selectStatus === "В ремонте (текущем или гарантийном)"
                        let repairDates = document.getElementById("repairDates");
                        if (inRepair) {
                            repairDates.style.display = 'block';
                            document.getElementById('date3').setAttribute('required', 'true');
                            document.getElementById('date4').setAttribute('required', 'true');
                            document.getElementById('date3').removeAttribute('disabled');
                            document.getElementById('date4').removeAttribute('disabled');
                            document.getElementById('date5').removeAttribute('required');
                        } else {
                            repairDates.style.display = 'none';
                            document.getElementById('date3').setAttribute('disabled', 'true');
                            document.getElementById('date4').setAttribute('disabled', 'true');
                            document.getElementById('date3').removeAttribute('required');
                            document.getElementById('date4').removeAttribute('required');
                        }

                        let isClosed = selectStatus === "Списан (выведен из строя)"
                        let closeDate = document.getElementById("closeDate");
                        if (isClosed) {
                            closeDate.style.display = 'block';
                            document.getElementById('date1').setAttribute('required', 'true');
                            document.getElementById('deleteAct').setAttribute('required', 'true');
                            document.getElementById('date1').removeAttribute('disabled');
                            document.getElementById('deleteAct').removeAttribute('disabled');
                            document.getElementById('date5').removeAttribute('required');
                        } else {
                            closeDate.style.display = 'none';
                            document.getElementById('date1').removeAttribute('required');
                            document.getElementById('deleteAct').removeAttribute('required');
                            document.getElementById('date1').setAttribute('disabled', 'true');
                            document.getElementById('deleteAct').setAttribute('disabled', 'true');
                        }
                    }
                </script>
                <script>
                    let status = document.getElementById("status");
                    let selectStatus = status.options[status.selectedIndex].textContent;

                    let isBroken = selectStatus === "Не исправен (на складе, не в ремонте)"
                    let brokenDate = document.getElementById("brokenDate");
                    if (isBroken) {
                        brokenDate.style.display = 'block';
                        document.getElementById('date2').setAttribute('required', 'true');
                        document.getElementById('date5').removeAttribute('required');
                    } else {
                        brokenDate.style.display = 'none';
                        document.getElementById('date2').removeAttribute('required');
                    }

                    let inRepair = selectStatus === "В ремонте (текущем или гарантийном)"
                    let repairDates = document.getElementById("repairDates");
                    if (inRepair) {
                        repairDates.style.display = 'block';
                        document.getElementById('date3').setAttribute('required', 'true');
                        document.getElementById('date4').setAttribute('required', 'true');
                        document.getElementById('date5').removeAttribute('required');
                    } else {
                        repairDates.style.display = 'none';
                        document.getElementById('date3').removeAttribute('required');
                        document.getElementById('date4').removeAttribute('required');
                    }

                    let isClosed = selectStatus === "Списан (выведен из строя)"
                    let closeDate = document.getElementById("closeDate");
                    if (isClosed) {
                        closeDate.style.display = 'block';
                        document.getElementById('date1').setAttribute('required', 'true');
                        document.getElementById('deleteAct').setAttribute('required', 'true');
                        document.getElementById('date1').removeAttribute('disabled');
                        document.getElementById('deleteAct').removeAttribute('disabled');
                        document.getElementById('date5').removeAttribute('required');
                    } else {
                        closeDate.style.display = 'none';
                        document.getElementById('date1').removeAttribute('required');
                        document.getElementById('deleteAct').removeAttribute('required');
                        document.getElementById('date1').setAttribute('disabled', 'true');
                        document.getElementById('deleteAct').setAttribute('disabled', 'true');
                    }
                </script>
                <script>
                    function j() {
                        let statusIssue = document.getElementById("statusIssue");
                        let selectStatusIssue = statusIssue.options[statusIssue.selectedIndex].textContent;
                        let isIssued = selectStatusIssue === "Закреплен (за объектом строительства)"
                        let issueDate = document.getElementById("issueDate");
                        let issuePanelObj = document.getElementById("issuePanelObj");
                        let issuePanelEmp = document.getElementById("issuePanelEmp");
                        if (isIssued) {
                            issueDate.style.display = 'block';
                            document.getElementById('date5').setAttribute('required', 'true');
                            issuePanelObj.style.display = 'block';
                            issuePanelEmp.style.display = 'block';
                        } else {
                            issueDate.style.display = 'none';
                            document.getElementById('date5').removeAttribute('required');
                            issuePanelObj.style.display = 'none';
                            issuePanelEmp.style.display = 'none';
                        }
                    }
                </script>
                <script>
                    let statusIssue = document.getElementById("statusIssue");
                    let selectStatusIssue = statusIssue.options[statusIssue.selectedIndex].textContent;
                    let isIssued = selectStatusIssue === "Закреплен (за объектом строительства)"
                    let issueDate = document.getElementById("issueDate");
                    let issuePanelObj = document.getElementById("issuePanelObj");
                    let issuePanelEmp = document.getElementById("issuePanelEmp");
                    if (isIssued) {
                        issueDate.style.display = 'block';
                        document.getElementById('date5').setAttribute('required', 'true');
                        issuePanelObj.style.display = 'block';
                        issuePanelEmp.style.display = 'block';
                    } else {
                        issueDate.style.display = 'none';
                        document.getElementById('date5').removeAttribute('required');
                        issuePanelObj.style.display = 'none';
                        issuePanelEmp.style.display = 'none';
                    }
                </script>
                <script>
                    $('#status').change(function () {
                        if ($('#status').val() === "OK") {
                            $('#issuePanel').css('display', 'block');
                        } else {
                            $('#issuePanel').css('display', 'none');
                        }
                    });
                </script>
                <script>
                    if ($('#status').val() === "OK") {
                        $('#issuePanel').css('display', 'block');
                    } else {
                        $('#issuePanel').css('display', 'none');
                    }
                </script>
                <tr>
                    <th style="text-align: left" scope="row">001</th>
                    <td style="text-align: left">#ID (изм. не подлежит)</td>
                    <td style="text-align: left">
                        <input readonly type="text" th:field="${measInstrument.measInstrId}" placeholder="#ID">
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">002</th>
                    <td style="text-align: left"><label>№ ТИ 1С</label></td>
                    <td style="text-align: left">
                        <input type="text" th:field="${measInstrument.measOneCNumber}" placeholder="СТ-000...">
                        <p if="${#fields.hasErrors('measOneCNumber')}" th:errors="${measInstrument.measOneCNumber}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">003</th>
                    <td style="text-align: left"><label>Инвентарный номер</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text"
                               th:field="${measInstrument.measInventNumber}">
                        <p if="${#fields.hasErrors('measInventNumber')}"
                           th:errors="${measInstrument.measInventNumber}" style="font-size: 13px; color: brown"></p>
                        <p th:text="${error}"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">004</th>
                    <td style="text-align: left"><label>Серийный номер</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text"
                               th:field="${measInstrument.measSerialNumber}">
                        <p if="${#fields.hasErrors('measSerialNumber')}"
                           th:errors="${measInstrument.measSerialNumber}" style="font-size: 13px; color: brown"></p>
                        <p th:text="${error}"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">005</th>
                    <td style="text-align: left"><label>Завод изготовитель</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text"
                               th:field="${measInstrument.measInstrManufacturer}">
                        <p if="${#fields.hasErrors('measInstrManufacturer')}"
                           th:errors="${measInstrument.measInstrManufacturer}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">006</th>
                    <td style="text-align: left"><label>Модель</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text"
                               th:field="${measInstrument.measInstrModel}">
                        <p if="${#fields.hasErrors('measInstrModel')}" th:errors="${measInstrument.measInstrModel}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">007</th>
                    <td style="text-align: left"><label>Наименование</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text"
                               th:field="${measInstrument.measInstrName}">
                        <p if="${#fields.hasErrors('measInstrName')}" th:errors="${measInstrument.measInstrName}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">008</th>
                    <td style="text-align: left"><label>Дата приобретения</label></td>
                    <td style="text-align: left">
                        <input type="date" th:field="${measInstrument.measDateOfPurchase}" id="date">
                        <script th:inline="javascript">
                            let inputDate = String([[${measInstrument.measDateOfPurchase}]]);
                            document.getElementById("date").valueAsDate = new Date(inputDate);
                        </script>
                        <p if="${#fields.hasErrors('measDateOfPurchase')}"
                           th:errors="${measInstrument.measDateOfPurchase}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">009</th>
                    <td style="text-align: left"><label>Стоимость</label></td>
                    <td style="text-align: left">
                        <input type="text" th:field="${measInstrument.measInstrumentPrice}" id="measInstrumentPrice">
                        <p if="${#fields.hasErrors('measInstrumentPrice')}"
                           th:errors="${measInstrument.measInstrumentPrice}" style="font-size: 13px; color: brown"></p>
                        <script src="https://unpkg.com/imask"></script>
                        <script>
                            IMask(
                                document.getElementById('measInstrumentPrice'),
                                {
                                    mask: 'num',
                                    blocks: {
                                        num: {
                                            mask: Number,
                                            thousandsSeparator: ' '
                                        }
                                    }
                                }
                            )
                        </script>

                </tr>
                <tr>
                    <th style="text-align: left" scope="row">010</th>
                    <td style="text-align: left"><label>Гарантийный период, мес</label></td>
                    <td style="text-align: left">
                        <input type="number" th:field="${measInstrument.measGuaranteePeriod}" placeholder="" min="1"
                               max="100">
                        <p if="${#fields.hasErrors('measGuaranteePeriod')}"
                           th:errors="${measInstrument.measGuaranteePeriod}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">011</th>
                    <td style="text-align: left"><label>Срок службы, лет</label></td>
                    <td style="text-align: left">
                        <input type="number" th:field="${measInstrument.measServicePeriod}" placeholder="" min="1"
                               max="50">
                        <p if="${#fields.hasErrors('measServicePeriod')}"
                           th:errors="${measInstrument.measServicePeriod}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">012</th>
                    <td style="text-align: left"><label>Подразделение</label></td>
                    <td style="text-align: left">
                        <select style="width:200px;" class="form-select form-select-sm" name="department">
                            <option th:each="dep:${departmentList}"
                                    th:field="*{department}"
                                    th:value="${dep.depId}"
                                    th:text="${dep}">
                        </select>
                    <td>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">013</th>
                    <td style="text-align: left"><label>Дата прошедшей поверки</label></td>
                    <td style="text-align: left">
                        <input type="date" th:field="${measInstrument.measDateFirst}" id="date8">
                        <script th:inline="javascript">
                            let inputDate8 = String([[${measInstrument.measDateFirst}]]);
                            document.getElementById("date8").valueAsDate = new Date(inputDate8);
                        </script>
                        <p if="${#fields.hasErrors('measDateFirst')}" th:errors="${measInstrument.measDateFirst}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">014</th>
                    <td style="text-align: left"><label>Дата следующей поверки</label></td>
                    <td style="text-align: left">
                        <input type="date" th:field="${measInstrument.measDateSecond}" id="date9">
                        <script th:inline="javascript">
                            let inputDate9 = String([[${measInstrument.measDateSecond}]]);
                            document.getElementById("date9").valueAsDate = new Date(inputDate9);
                        </script>
                        <p if="${#fields.hasErrors('measDateSecond')}" th:errors="${measInstrument.measDateSecond}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">015</th>
                    <td style="text-align: left">Ссылка на РСТ<br></td>
                    <th style="text-align: left">
                        <textarea rows="2" cols="50" type="text" th:field="${measInstrument.linkView}"
                                  placeholder="Указать полный URL без кавычек и переносов строк"></textarea>
                        <p if="${#fields.hasErrors('linkView')}" th:errors="${measInstrument.linkView}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr id="last_fields">
                    <th style="text-align: left" scope="row">016</th>
                    <td style="text-align: left"><label>Истоия поверок</label></td>
                    <td style="text-align: left">
                        <textarea rows="4" cols="50" type="text"
                                  th:field="${measInstrument.verificationHistory}"></textarea>
                        <p if="${#fields.hasErrors('verificationHistory')}"
                           th:errors="${measInstrument.verificationHistory}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">017</th>
                    <td style="text-align: left"><label>Комментарий</label></td>
                    <td style="text-align: left">
                        <textarea rows="4" cols="50" type="text"
                                  th:field="${measInstrument.measInstrComment}"
                                  placeholder="только - алфавит: Кириллица, Латинский; цифры; символы: <>|/-_.,;:«»'()#{}№"></textarea>
                        <p if="${#fields.hasErrors('measInstrComment')}"
                           th:errors="${measInstrument.measInstrComment}" style="font-size: 13px; color: brown"></p>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button onclick="return confirm('Вы действительно хотите внести изменения?');"
                    class="btn btn-outline-primary btn-sm" type="submit" form="form1">OK
            </button>
            <a th:href="@{/general/m_instrument/m_instrumentView/{id}(id=${measInstrument.measInstrId})}">
                <button type="button" class="btn btn-outline-danger btn-sm">Отмена</button>
            </a>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>