<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Arrow</title>
</head>
<body>
<div class="tableContainer m-4" style="font-size: 15px">
    <div class="pageName">
        <h4>Меню создания нового персонального инструмента</h4>
    </div>
    <br>
    <form th:action="@{/general/p_instrument/p_instrumentCreate}" th:method="post">
        <div>
            <table class="table total-infom" style="width: 660px">
                <thead>
                <tr>
                    <th style="width: 30px; text-align: left;" scope="col">#</th>
                    <th style="width: 230px; text-align: left;" scope="col">Атрибут</th>
                    <th style="width: 400px; text-align: left;" scope="col">Параметр</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th style="text-align: left" scope="row">001</th>
                    <td style="text-align: left">#ID</td>
                    <td style="text-align: left"><span>(Задется автоматически)</span></td>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">002</th>
                    <td style="text-align: left"><label>№ ТИ 1С</label></td>
                    <td style="text-align: left">
                        <input type="text" th:field="${personalInstrument.personalOneCNumber}" placeholder="СТ-000...">
                        <p if="${#fields.hasErrors('personalOneCNumber')}" th:errors="${personalInstrument.personalOneCNumber}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">003</th>
                    <td style="text-align: left"><label>Инвентарный номер</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text" th:field="${personalInstrument.personalInventNumber}" placeholder="">
                        <p if="${#fields.hasErrors('personalInventNumber')}" th:errors="${personalInstrument.personalInventNumber}"
                           style="font-size: 13px; color: brown"></p>
                        <p th:text="${errorInv}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">004</th>
                    <td style="text-align: left"><label>Серийный номер</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text" th:field="${personalInstrument.personalSerialNumber}" placeholder="">
                        <p if="${#fields.hasErrors('personalSerialNumber')}" th:errors="${personalInstrument.personalSerialNumber}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">005</th>
                    <td style="text-align: left"><label>Завод изготовитель</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text" th:field="${personalInstrument.personalInstrManufacturer}" placeholder="">
                        <p if="${#fields.hasErrors('personalInstrManufacturer')}"
                           th:errors="${personalInstrument.personalInstrManufacturer}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">006</th>
                    <td style="text-align: left"><label>Модель</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text" th:field="${personalInstrument.personalInstrModel}" placeholder="">
                        <p if="${#fields.hasErrors('personalInstrModel')}" th:errors="${personalInstrument.personalInstrModel}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">007</th>
                    <td style="text-align: left"><label>Наименование</label></td>
                    <td style="text-align: left">
                        <input style="width: 400px; text-align: left;" type="text" th:field="${personalInstrument.personalInstrName}" placeholder="">
                        <p if="${#fields.hasErrors('personalInstrName')}" th:errors="${personalInstrument.personalInstrName}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-outline-primary btn-sm" type="submit">OK</button>
            <a th:href="@{/general/p_instrument}">
                <button type="button" class="btn btn-outline-danger btn-sm">Отмена</button>
            </a>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>