<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    <title>Arrow</title>
</head>
<body>
<div class="tableContainer m-4" style="font-size: 15px">
    <div class="pageName">
        <h4>Обновление данных Акта-предупреждения</h4>
    </div>
    <br>
    <form th:action="@{/general/constr_control/constr_controlUpdate}" th:method="post" th:object="${constructionControl}">
        <div>
            <style>
                .table {
                    width: 100%;
                }
                .head, .body {
                    display: table;
                    width: 100%;
                }
                .body {
                    display: block;
                    width: 100%;
                    height: 650px;
                    overflow: auto;
                }
            </style>
            <table class="table total-inform" style="width: 950px">
                <thead class="head">
                <tr>
                    <th style="width: 50px; text-align: left;" scope="col">#</th>
                    <th style="width: 300px; text-align: left;" scope="col">Атрибут</th>
                    <th style="width: 600px; text-align: left;" scope="col">Параметр</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr>
                    <th style="text-align: left" scope="row"></th>
                    <th style="text-align: left"><label>Статус предупреждения</label></th>
                    <td style="text-align: left; width: 600px">
                        <select style="width: 200px"; class="form-select form-select-sm" id="status"
                                name="constructionControlStatusENUM" required>
                            <option th:each="w_obj_stat:${warningStatusList}"
                                    th:field="*{constructionControlStatusENUM}"
                                    th:value="${w_obj_stat}"
                                    th:text="${w_obj_stat.getTitle()}">
                            </option>
                        </select>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">001</th>
                    <td style="text-align: left">#ID (изм. не подлежит)</td>
                    <td style="text-align: left">
                        <input readonly type="text" style="width: 200px" th:field="${constructionControl.constrControlId}"
                               placeholder="#ID">
                </tr>
                <div>
                    <tr>
                        <th style="text-align: left" scope="row">002</th>
                        <td style="text-align: left"><label>Объект строительства</label></td>
                        <td style="text-align: left">
                            <select style="width: 200px" class="livesearch" name="workObject"> required
                                <option th:each="w_obj:${workObjectsList}"
                                        th:field="*{workObject}"
                                        th:value="${w_obj.workObjectId}"
                                        th:text="${w_obj}">
                                </option>
                            </select>
                            <script>
                                $(".livesearch").chosen();
                            </script>
                            <p style="font-size: 13px; color: #112970">* при отсутствии списка действующих
                                объектов строительства <br> Акт-предупреждение создать/отредактировать не возможно</p>
                            <p th:text="${error}" style="font-size: 13px; color: brown"></p>
                    </tr>
                </div>
                <tr>
                    <th style="text-align: left" scope="row">003</th>
                    <td style="text-align: left"><label>Номер предупреждения</label></td>
                    <td style="text-align: left">
                        <input type="text" style="width: 400px" th:field="${constructionControl.numOfWarning}">
                        <p if="${#fields.hasErrors('numOfWarning')}" th:errors="${constructionControl.numOfWarning}"
                           style="font-size: 13px; color: brown"></p>
                        <p th:text="${errorUniq}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">004</th>
                    <td style="text-align: left"><label>Дата выдачи</label></td>
                    <td style="text-align: left">
                        <input type="date" style="width: 150px" th:field="${constructionControl.dateOfIssue}" id="dateOfIssue">
                        <script th:inline="javascript">
                            const inputDate1 = String([[${constructionControl.dateOfIssue}]]);
                            document.getElementById("dateOfIssue").valueAsDate = new Date(inputDate1);
                        </script>
                        <p if="${#fields.hasErrors('dateOfIssue')}"
                           th:errors="${constructionControl.dateOfIssue}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">005</th>
                    <td style="text-align: left"><label>Выявленные несоответствия</label></td>
                    <td style="text-align: left">
                        <textarea rows="4" cols="40" type="text" style="width: 600px" ;
                                  th:field="${constructionControl.warningName}"></textarea>
                        <p if="${#fields.hasErrors('warningName')}" th:errors="${constructionControl.warningName}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">006</th>
                    <td style="text-align: left"><label>Крайняя дата устранения</label></td>
                    <td style="text-align: left">
                        <input type="date" style="width: 150px" th:field="${constructionControl.deadLine}" id="deadLine" required>
                        <script th:inline="javascript">
                            const inputDate2 = String([[${constructionControl.deadLine}]]);
                            document.getElementById("deadLine").valueAsDate = new Date(inputDate2);
                        </script>
                        <p if="${#fields.hasErrors('deadLine')}"
                           th:errors="${constructionControl.deadLine}" style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">007</th>
                    <td style="text-align: left"><label>Представитель СК Заказчика</label></td>
                    <td style="text-align: left">
                        <textarea rows="3" cols="40" type="text" style="width: 400px";
                                  th:field="${constructionControl.responsibleFromCustomer}"
                                  placeholder="> Ф.И.О.&#10;> Должность&#10;> Контакты"></textarea>
                        <p if="${#fields.hasErrors('responsibleFromCustomer')}"
                           th:errors="${constructionControl.responsibleFromCustomer}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">008.1</th>
                    <td style="text-align: left"><label>Представитель подрядчика по строительству</label></td>
                    <td style="text-align: left">
                        <select class="livesearch" style="width:400px;" name="responsibleFromContractor">
                            <option th:each="emp:${employeeList}"
                                    th:field="*{responsibleFromContractor}"
                                    th:value="${emp.empId}"
                                    th:text="${emp} +
                                    ((${emp.profession} == null)? '' : ${', ' + emp.profession.professionName})">
                            </option>
                        </select>
                        <script>
                            $(".livesearch").chosen();
                        </script>
                    <td>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">008.2</th>
                    <td style="text-align: left"><label>Представитель СК подрядчика по строительству</label></td>
                    <td style="text-align: left">
                        <select class="livesearch" style="width:400px;" name="responsibleFromSKContractor">
                            <option th:each="emp:${employeeList}"
                                    th:field="*{responsibleFromSKContractor}"
                                    th:value="${emp.empId}"
                                    th:text="${emp} +
                                    ((${emp.profession} == null)? '' : ${', ' + emp.profession.professionName})">
                            </option>
                        </select>
                        <script>
                            $(".livesearch").chosen();
                        </script>
                    <td>
                </tr>
                <tr>
                    <th style="text-align: left" scope="row">008.3</th>
                    <td style="text-align: left">Представитель субподрядчика</td>
                    <td style="text-align: left">
                        <textarea rows="3" cols="40" type="text" style="width: 400px";
                                  th:field="${constructionControl.responsibleFromSubContractor}"
                                  placeholder="> Ф.И.О.&#10;> Должность&#10;> Контакты"></textarea>
                        <p if="${#fields.hasErrors('responsibleFromContractor')}"
                           th:errors="${constructionControl.responsibleFromSubContractor}"
                           style="font-size: 13px; color: brown"></p>
                </tr>
                    <tr>
                        <th style="text-align: left" scope="row">009</th>
                        <td style="text-align: left"><label>Срок продления, до</label></td>
                        <td style="text-align: left">
                            <input type="date" style="width: 150px"; th:field="${constructionControl.dateOfExtension}"
                                   id="dateOfExtension">
                            <script th:inline="javascript">
                                const inputDate3 = String([[${constructionControl.dateOfExtension}]]);
                                document.getElementById("dateOfExtension").valueAsDate = new Date(inputDate3);
                            </script>
                            <p if="${#fields.hasErrors('dateOfExtension')}"
                               th:errors="${constructionControl.dateOfExtension}"></p>
                    </tr>
                    <script>
                        $('#status').change(function () {
                            if ($('#status').val() === "ACTIVE") {
                                $('#dateOfExtension').css('display', 'block');
                            } else {
                                $('#dateOfExtension').css('display', 'none');
                            }
                        });
                    </script>
                    <script>
                        if ($('#status').val() === "ACTIVE") {
                            $('#dateOfExtension').css('display', 'block');
                        } else {
                            $('#dateOfExtension').css('display', 'none');
                        }
                    </script>
                </tbody>
            </table>
        </div>
        <div>
            <button onclick="return confirm('Вы действительно хотите внести изменения?');"
                    class="btn btn-outline-primary btn-sm" type="submit">OK</button>
            <a th:href="@{/general/constr_control/constr_controlWarnings/{id}(id=*{workObject.workObjectId})}">
                <button type="button" class="btn btn-outline-danger btn-sm">Отмена</button>
            </a>
        </div>
        <br>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>