<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Arrow</title>
</head>
<body>
<div class="tableContainer m-4" style="font-size: 15px">
    <div>
        <a th:href="@{/general}">
            <button type="button" class="btn btn-outline-warning">Главное меню</button></a>
    </div>
    <hr>
    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CONSTR_CONTROL_CREATE')">
        <a th:href="@{/general/constr_control/constr_controlCreate}" class="btn btn-outline-success btn-sm">Создать новый Акт-предупреждение</a>
    </div>
    <br>
    <div class="pageName">
        <h4>Акты-предупреждения</h4>
    </div>
    <style>
        table {
            width: 100%;}
        thead, tbody {
            display: table;
            width: 100%;}
        .body {
            display: block;
            width: 100%;
            height: 550px;
            overflow-y: scroll;}
        .bodySearch {
            display: block;
            width: 100%;
            overflow-y: scroll;}
        .head {
            display: block;
            width: 100%;
            overflow-y: scroll;}
    </style>
    <form th:action="@{/general/constr_control}" th:method="get">
        <table class="table-sm" style="width: 1800px">
            <tbody class="bodySearch">
            <tr>
                <th style="width: 100px; text-align: left;">Поиск по</th>
                <th style="width: 400px; text-align: left;">
                    <input type="text" style="width: 280px; height: 27px;" id="byWorkObject" onkeyup="myFunctionWORKOBJECT()"></th>
                </th>
                <th style="width: 300px; text-align: left;">
                    <input type="text" style="width: 140px; height: 27px;" id="byCustomer" onkeyup="myFunctionCUSTOMER()"></th>
                </th>
                <th style="width: 150px; text-align: left;">
                    <input type="text" style="width: 120px; height: 27px;" id="byOrder" onkeyup="myFunctionORDER()"></th>
                </th>
                <th style="width: 150px; text-align: left;">
                    <input type="text" style="width: 120px; height: 27px;" id="byLot" onkeyup="myFunctionLOT()"></th>
                </th>
                <td style="width: 200px"></td>
                <td style="width: 200px"></td>
                <td style="width: 200px"></td>
                <th style="width: 100px">
                    <button class="btn btn-outline-dark btn-sm" id="resetButton">Очистить</button>
                </th>
            </tr>
            </tbody>
        </table>
    </form>
    <div>
        <table class="table table-hover table-sm" style="width: 1800px;" id="prof-table">
            <thead class="head">
            <tr>
                <th style="width: 100px; text-align: left;">#ID</th>
                <th onclick="sortTable(0)" style="width: 400px; text-align: left;">Наименование объекта строительства</th>
                <th onclick="sortTable(1)" style="width: 300px; text-align: left;">Заказчик</th>
                <th onclick="sortTable(2)" style="width: 150px; text-align: left;">№ Заказа (внутр.)</th>
                <th onclick="sortTable(3)" style="width: 150px; text-align: left;">№ Лота</th>
                <th onclick="sortTable(4)" style="width: 200px; text-align: left;">Кол-во действующих предупреждений</th>
                <th onclick="sortTable(5)" style="width: 200px; text-align: left;">Кол-во закрытых предупреждений</th>
                <th onclick="sortTable(6)" style="width: 200px; text-align: left;">Общее кол-во предупреждений</th>
                <th style="width: 100px; text-align: center;">Действие</th>
            </tr>
            </thead>
            <tbody class="body">
            <tr th:each="w_obj:${workObjectList}">
                <th th:text="${w_obj.workObjectId}" style="width: 100px"/>
                <td th:text="${w_obj.workObjectName}" style="width: 400px"/>
                <td th:text="${w_obj.workObjectCustomer}" style="width: 300px"/>
                <td th:text="${w_obj.workObjectOrder}" style="width: 150px"/>
                <td th:text="${w_obj.workObjectLot}" style="width: 150px"/>
                <td th:text="${w_obj.getConstructionControlActive}" style="width: 200px"/>
                <td th:text="${w_obj.getConstructionControlClosed}" style="width: 200px"/>
                <td th:text="${#lists.size(w_obj.constructionControlList)}" style="width: 200px"/>
                <td style="width: 100px">
                    <a th:href="@{/general/constr_control/constr_controlWarnings/{id}(id=${w_obj.workObjectId})}">
                        <button type="button" class="btn btn-outline-primary btn-sm">Просмотр</button>
                    </a>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("prof-table");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("TR");
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch= true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount ++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
    <script>
        function myFunctionWORKOBJECT() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("byWorkObject");
            filter = input.value.toUpperCase();
            table = document.getElementById("prof-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function myFunctionCUSTOMER() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("byCustomer");
            filter = input.value.toUpperCase();
            table = document.getElementById("prof-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function myFunctionORDER() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("byOrder");
            filter = input.value.toUpperCase();
            table = document.getElementById("prof-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function myFunctionLOT() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("byLot");
            filter = input.value.toUpperCase();
            table = document.getElementById("prof-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        document.getElementById("resetButton").reset();
    </script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>