<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Arrow</title>
</head>
<body>
<div class="main m-5">
    <div class="genMenuName my-4">
        <h4>Ошибка удаления или изменения статуса Работника</h4>
        <span th:text="${error}"></span>
        <br>
        <hr>
        <div th:each="pInstr:${employee.personalInstrumentList}">
            <span th:text="${pInstr}"
                  th:if="${employee.personalInstrumentList != null}"></span><br>
        </div>
        <div th:each="wInstr:${employee.workInstrumentList}">
            <span th:text="${wInstr}"
                  th:if="${employee.workInstrumentList != null}"></span><br>
        </div>
        <div th:each="mInstr:${employee.measInstrumentList}">
            <span th:text="${mInstr}"
                  th:if="${employee.measInstrumentList != null}"></span><br>
        </div>
        <div th:each="sCloth:${employee.specialClothEmployeeList}">
            <span th:text="${sCloth.specialCloth.specClothName}"
                  th:if="${employee.specialClothEmployeeList != null}"></span><br>
        </div>
        <div th:each="wObjChief:${employee.workObjectChiefList}">
            <span th:text="${wObjChief} + ${' - Руководитель проекта'}"
                  th:if="${employee.workObjectChiefList != null}"></span><br>
        </div>
        <div th:each="wObjPTO:${employee.workObjectPTOList}">
            <span th:text="${wObjPTO} + ${' - Ответственные ПТО'}"
                  th:if="${employee.workObjectPTOList != null}"></span><br>
        </div>
        <div th:each="wObjStore:${employee.workObjectStoreKeeperList}">
            <span th:text="${wObjStore} + ${' - Ответственный за склад/инструмент'}"
                  th:if="${employee.workObjectStoreKeeperList != null}"></span><br>
        </div>
        <div th:each="wObjSuppl:${employee.workObjectSupplierList}">
            <span th:text="${wObjSuppl} + ${' - Ответственные ОМТР'}"
                  th:if="${employee.workObjectSupplierList != null}"></span><br>
        </div>
        <div th:each="wObjConstr:${employee.responsibleFromContractorList}">
            <span th:text="${wObjConstr} + ${' - Представитель подрядчика по строительству'}"
                  th:if="${employee.responsibleFromContractorList != null} AND
                  ${wObjConstr.getConstructionControlStatusENUM().getTitle() != 'Черновик'}"></span><br>
        </div>
        <div th:each="wObjConstr:${employee.responsibleFromSKContractorList}">
            <span th:text="${wObjConstr} + ${' - Представитель СК подрядчика по строительству'}"
                  th:if="${employee.responsibleFromSKContractorList != null} AND
                  ${wObjConstr.getConstructionControlStatusENUM().getTitle() != 'Черновик'}"></span><br>
        </div>
    </div>
    <div>
        <div>
            <a th:href="@{/general/employee/employeeView/{id}(id=${employee.empId})}">
                <button type="button" class="btn btn-outline-warning btn-sm">Назад</button>
            </a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
